
.Header {
    height: 60px;
    display: flex;
    align-items: center;
    column-gap: 35%;
    box-shadow: 0 2px 22.5px 0 #1C1D1F0D;
    background-color: #FFFFFF;

}

.Header__logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-left: 20px;
    cursor: pointer;

}
.Header__name {
    font-weight: 600;
    font-size: 16px;
    font-family: Open Sans, serif;

}

.Header_menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    gap: 24px;


}


.Header_menu-vacancy {
    display: flex;
    width: 100px;
    white-space: nowrap;
    flex-direction: row;
    text-decoration: none;
    color: black;
    opacity: 0.5;
    gap: 4px;
}



.active {
    opacity: 1;
}

.active::after {
    content: ' ●';
    color: #4263EB;
}