.VacancySearch {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 120px;
}
.VacancySearch__input {
    display: flex;
    flex-direction: row;
    align-items: center;
}


.VacancySearch__text span {
    font-size: 18px;
    color: Gray;
}


.VacancySearch input{
    width: 390px;
    height: 42px;
    border: 1px solid #0F0F1033 ;
    border-radius: 8px;
    background-image: url("../../assets/Search.svg") ;
    background-repeat: no-repeat;
    background-color: #F6F6F7;
    background-position: 14px center;
    padding-left: 40px;
    font-size: 16px;
    font-weight: 400;

}


.VacancySearch button{
    width: 93px;
    height: 42px;
    margin-left: 12px;
    background-color: #4263EB;
    color: white;
    border: none;
    border-radius: 8px;
}