.See {
    background-color: #F6F6F7;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 24px;
}
.SeeVacancyCard {
    width: 600px;
    border-radius: 12px;
    min-height: 200px;
    background-color: #FFFFFF;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}